.text {
    background-color: rgb(235, 129, 129);
    width: 200px;
    height: 50px;
    position: relative;
    border-radius: 15px;
}

h2 {
    margin: auto;
    position: absolute;
    left: 45px;
    bottom: 13px;
}